<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Integration10Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="Integration10Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.softnet.com.tr/CommonInvoice.Web.Service/Integration10.asmx"
                binding="basicHttpBinding" bindingConfiguration="Integration10Soap"
                contract="SoftNetWS.Integration10Soap" name="Integration10Soap" />
        </client>
    </system.serviceModel>
</configuration>